#contactform {
width: 460px;
font-family: arial;
border: 1px solid #AAA;
padding:50px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
margin: 20px auto;
}
.freecontactformheader {
font-size:18px;
font-weight:bold;
padding-top:10px;
padding-bottom:10px;
text-align:center;
}
.freecontactformmessage {
text-align:center;
padding-bottom:10px;
}
.freecontactform td {
padding:4px;
font-size:12px;
}
.freecontactform p {
padding:4px;
}
.freecontactform label {
padding:4px;
}
.freecontactform label {
padding-right:10px
}
.required {
font-weight:bold;
}
.required_star {
font-weight:bold;
color:#F00;
}
.not-required {
font-weight:bold;
}
/*.antispammessage {
padding:10px;
border-top:1px solid #AAA;
border-bottom:1px solid #AAA;
font-weight:bold 
}*/
.antispammessage {
	font-weight:normal;
	display:none;
}

table {
	margin: 30px auto;
}

.thankyou {
	margin: 100px auto;
	text-align: center;
	padding: 100px 0px;
}

input,
textarea {
	font-family: arial;
	font-size: 12px;
}

.label,
.input {
	float: left;
	width: 50%;
}

.row {
	clear: both;
	padding-bottom: 30px;
}

.input textarea,
.input input {
	width: 100%;
}

.input textarea {
	height: 100px;
}

.submit input {
	display: block;
	margin: 0px auto;
	padding: 10px 50px;
	border: 1px solid grey;
/*	border-radius: 10px;*/
}

.submit input:hover {
	background-color: grey;
}


/* This is the CSS changes that happens for mobile */

@media screen and (max-width: 500px) {
	body {
		margin: 0px;
	}

	form {
		width: 100%;
	}

	#contactform {
		width: 80%;
		margin-left: 5%;
		margin-right: 5%;
		border: none;
		padding: 10px 5%;
	}

	.label,
	.input {
		float: none;
		width: 100%;
	}

	.label {
		padding-bottom: 5px;
	}

	.row {
		padding-bottom: 10px;
	}

	.freecontactformheader {
		font-size: 24px;
	}

	.submit input {
		width: 100%;
		font-size: 20px;
	}

	.submit input:hover {
		background-color: #60dd21;
		color: white;
	}

	
}